* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-color: rgb(53,28,117);
    --secondary-color: rgb(189,96,231);

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Styles */

header {
    display: flex;
}

header div {
    padding: 3%;
    width: 50%;
}

#timer {
    text-align: right;
}

#timer h2 {
    font-size: 16px;
    font-weight: bold;
}

header div a {
    text-decoration: none;
    color: var(--secondary-color);
}

header div a:hover {
    color: var(--primary-color);
}

/* Main Styles */
main {
    display: flex;
    flex-wrap: wrap;
}

main div {
    width: 100%;
    text-align: center;
    padding: 10px 25%;
}

main form {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

main form * {
    margin: 5px;
}

main form input {
    height: 28px;
    width: 50%;
}

/* Footer Styles */


/* Classes/Utilities */
.button, .answer {
    background-color: var(--primary-color);
    font-size: 16px;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
}

.button:hover, .answer:hover {
    background-color: var(--secondary-color);
}

.answer {
    width: 50%;
    text-align: left;
}

.answerDiv {
    text-align: left;
    padding: 5px 0;
}

.alignLeft {
    text-align: left;
}

.noPadding {
    padding: 0;
}